section {
  display: flex;
  flex-direction: column;
}

.clock-day:before {
  content: var(--timer-day);
}
.clock-hours:before {
  content: var(--timer-hours);
}
.clock-minutes:before {
  content: var(--timer-minutes);
}
.clock-seconds:before {
  content: var(--timer-seconds);
}
body {
  background: linear-gradient(45deg, #1870ed 0, #f18f88 100%);
  font-family: 'Montserrat', 'sans-serif';
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clock-container {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #080808;
  border-radius: 5px;
  padding: 60px 20px;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, .15), 0 15px 90px 30px rgba(0, 0, 0, .25);
  display: flex;
}
.clock-col {
  text-align: center;
  margin-right: 40px;
  margin-left: 40px;
  min-width: 90px;
  position: relative;
}
.clock-col:not(:last-child):before, .clock-col:not(:last-child):after {
  content: "";
  background-color: rgba(255, 255, 255, .3);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: -42px;
}
.clock-col:not(:last-child):before {
  top: 35%;
}
.clock-col:not(:last-child):after {
  top: 50%;
}
.clock-timer:before {
  color: #fff;
  font-size: 4.2rem;
  text-transform: uppercase;
}
.clock-label {
  color: rgba(255, 255, 255, .35);
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-top: 10px;
}
@media (max-width: 825px) {
  .clock-container {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
 }
  .clock-col + .clock-col {
    margin-top: 20px;
 }
  .clock-col:before, .clock-col:after {
    display: none !important;
 }
}


/* CLOCK NUMBER 2 */

:root {
  --smaller: .75;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  background-color: #ffd54f;
  display: flex;
  font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Oxygen-Sans, 
    Ubuntu, 
    Cantarell, 
    "Helvetica Neue", 
    sans-serif;
}

.container {
  color: #333;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }
  
  li {
    font-size: calc(1.125rem * var(--smaller));
  }
  
  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}

/* CLOCK 3 */
* {
  margin: 0;
  padding: 0;
  font-family: 'Arimo', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*================= * TIMER *=================*/
.timer {
  width: 550px;
  height: 248px;
  display: block;
  position: absolute;
  top: 80%;
  left: 50%;
  margin-left: -275px;
  margin-top: -124px;
  color: white;
}
.timer * {
  cursor: default;
}
.timer h3 {
  width: 100%;
  font-size: 26px;
  letter-spacing: 4px;
  text-align: center;
}
.timer--clock {
  width: 100%;
  position: relative;
  padding-left: 6px;
  margin-top: 22px;
  overflow: hidden;
}
.timer--clock .clock-display-grp {
  width: 100%;
  position: relative;
}
.timer--clock .clock-display-grp .number-grp {
  width: auto;
  display: block;
  height: 156px;
  float: left;
  overflow: hidden;
}
.timer--clock .clock-display-grp .number-grp .number-grp-wrp {
  width: 100%;
  position: relative;
}
.timer--clock .clock-display-grp .number-grp .number-grp-wrp .num {
  width: 100%;
  position: relative;
  height: 156px;
}
.timer--clock .clock-display-grp .number-grp .number-grp-wrp .num p {
  width: auto;
  display: table;
  font-size: 205px;
  line-height: 150px;
  font-weight: bold;
}
.timer--clock .clock-separator {
  width: auto;
  float: left;
  display: block;
  height: 156px;
}
.timer--clock .clock-separator p {
  width: auto;
  display: table;
  font-size: 205px;
  line-height: 150px;
  font-weight: bold;
}
.timer h4 {
  width: 100%;
  font-size: 10px;
  letter-spacing: 6px;
  text-align: center;
  padding-top: 25px;
  float: left;
}
.reload {
  width: 125px;
  height: 14px;
  position: absolute;
  bottom: 50vh;
  left: 50%;
  margin-left: -62.5px;
  opacity: 0;
  display: none;
  cursor: pointer;
  z-index: 9999;
  color: white;
  font-size: 60px;
}
.reload:hover svg path {
  fill: rgb(219, 219, 219);
}
.reload:hover p {
  color: rgb(226, 226, 226);
}
.reload svg {
  width: 12px;
  height: 12px;
  float: left;
  margin-right: 10px;
}
.reload p {
  color: #2b2b2b;
  font-size: 12px;
  float: left;
  line-height: 11px;
}
